.title.avatar-container a {
	line-height: 36px;
}

.title .github-avatar {
	display: inline-block;
	position: relative;
	margin: 4px;
	margin-top: 6px;
	margin-bottom: -11px;
	border-radius: 4px;
	width: 32px;
	height: 32px;
}

.title a:first-child .github-avatar {
	position: absolute;
	left: 0;
	top: 13px;
}

hr.octohelper-divider {
	height: 0.25em;
	padding: 0;
	margin: 24px 0;
	background-color: #e1e4e8;
	border: 0;
	margin-left: -50px;
}


/* overriding github */

.news .alert.avatar-loaded .simple > .octicon {
	left: 34px !important;
	z-index: 10;
	top: 36px;
	text-shadow: #FFF -1px -1px 0px;
}